.completed-form {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.completed-form-prompt {
  margin: 40px;
  font-size: 20px;
  text-align: center;
}

.completed-form h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  font-weight: 500;
}

.completed-form p {
  color: hsl(279, 6%, 55%);
  margin-top: 20px;
  font-size: 16px;
}

@media (min-width: 450px) {
  .completed-form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .completed-form {
    margin: auto;
  }
}