.back-card--container {
  height: auto;
  width: 300px;
  position: absolute;
  bottom: 57px;
  right: 16px;
}

.back-card--img {
  width: 100%;
}

.cvc {
  position: absolute;
  color: #fff;
  top: 66px;
  right: 35px;
  font-size: 9px;
  letter-spacing: 2px;
}