.back-card--container {
  height: auto;
  width: 300px;
  position: absolute;
  bottom: 57px;
  right: 0;
}

.back-card--img {
  width: 100%;
}

.cvc {
  position: absolute;
  color: #fff;
  top: 66px;
  right: 35px;
  font-size: 9px;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .back-card--container {
    top: 0;
    left: 16px;
    bottom: auto;
    right: auto;
  }

  .cvc {
    font-size: 11px;
    top: 63px;
  }
}

@media (min-width: 1024px) {
  .back-card--container {
    left: auto;
    top: auto;
    right: 0;
    bottom: 30px;
  }
}

@media (min-width: 1440px) {
  .back-card--container {
    width: 70%;
    right: 30px;
  }

  .cvc {
    font-size: 16px;
    top: 68px;
    right: 40px;
    letter-spacing: 3px;
  }
}